# Default ignored files
/shelf/
/workspace.xml

# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Vladimir\Desktop\Java Starter\Java Starter\Java Starter\001_Intro\001_Samples\.idea/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/

